<div class="header-container">
    <div class="header">
        <h2>The Happy Plate</h2>
        <p>Discover a world of delicious recipes at Happy Plate! We've got something to satisfy every craving and make every meal a happy one.</p>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-end sticky-top">
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-dark justify-content-end px-4" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="allrecipes">View All Recipes</a>
                </li>
            </ul>
        </div>
    </nav>
</div>